@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root{

	/* =====	Colors	===== */
	/* ====================== */

	--first-color: #0E2124;
	--second-color: #0F2225;
	--bright-color: #45f3ff;
	--background-dark: #041214;
	--input-text-color: #0F2225;
	--link-color: #8f8f8f;
	--bright-hover-color: #00e0ef;

	/* =====	Font Sizes	===== */
	/* ====================== */
	--biggest-font-size: 4rem;
	--bigger-font-size: 3rem;
	--h1-font-size: 2rem;
	--h2-font-size: 1.5rem;
	--h3-font-ssize: 1rem;
	--h4-font-ssize: 0.75rem;
	--font-size: 1rem


	--box-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
    --text-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);

}



/*#region ========================		Base Classes	================================ */

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	min-height: 100vh;
	background: var(--first-color);
}

/* body.form_body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
} */

.body_wrapper 
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

form 
{
	position: absolute;
	inset: 2px;
	background: var(--background-dark);
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 15px;
	overflow-y: auto;
}

form::-webkit-scrollbar {
	width: 10px;
}

/* Styling of the scrollbar thumb (the draggable handle) */
form::-webkit-scrollbar-thumb {
	background: var(--bright-color);
	border-radius: 5px;
}

/* Styling of the scrollbar track (the area behind the thumb) */
form::-webkit-scrollbar-track {
	background: var(--background-dark);
}

/* Styling when the scrollbar is hovered */
form::-webkit-scrollbar-thumb:hover {
	background: #555;
}



/*#endregion  */




/*#region ========================		Global Designs	================================ */

.box 
{
	position: relative;
	width: 520px;
	height: 620px;
	background: var(--second-color);
	border-radius: 8px;
	overflow: hidden;
}


.links 
{
	display: flex;
	justify-content: space-between;
}

.submit
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background: var(--bright-color);
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100%;
	margin-top: 10px;
	transition: all 0.3s ease;
	text-align: center;
	text-decoration: none;
	color: var(--input-text-color);
	font-size: var(--h3-font-size);
}

.section{
	width: 100%;
	padding: 2rem 2.5rem;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.section__title{
	font-size: var(--bigger-font-size);
	color: var(--bright-color);
	margin-bottom: 2rem;
}

.section__subtitle{
	font-size: var(--h2-font-size);
	margin-bottom: 1rem;
}

.plain__text{
	text-align: justify;
	font-size: var(--h3-font-size);
	font-weight: 300;
}

.home-content .links{
	z-index: 1000;
}





.submit:hover
{
	background: var(--bright-hover-color);
}

.submit:active 
{
	opacity: 0.8;
}

.box::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 520px;
	height: 620px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,var(--bright-color),var(--bright-color));
	animation: animate 6s linear infinite;
}

.box::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 520px;
	height: 620px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,var(--bright-color),var(--bright-color));
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}

@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

/*#endregion  */




/*#region ========================		Login	================================ */

form h2 
{
	color: var(--bright-color);
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
	font-size: var(--h2-font-size);

}

form .inputBox 
{
	position: relative;
	width: 100%;
	margin-top: 35px;
}

.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: var(--input-text-color);
	font-size: var(--font-size);
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}

.inputBox span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: var(--font-size);
	color: var(--link-color);
	letter-spacing: 0.05em;
	transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span 
{
	color: var(--bright-color);
	transform: translateX(0px) translateY(-34px);
	font-size: var(--h4-font-ssize);
}

.inputBox i 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: var(--bright-color);
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i 
{
	height: 44px;
}

form  .inputCheckBox 
{
	margin: 10px 0;
	font-size: 1rem;
	color: var(--link-color);
	text-decoration: beige;
	transition: all 0.3s ease;
}

form .inputCheckBox:hover 
{
	color: var(--bright-color);
}

form  .inputCheckBox label,
form  .inputCheckBox input{
	cursor: pointer;
}

.links a 
{
	margin: 10px 0;
	font-size: var(--h3-font-ssize);
	color: var(--link-color);
	text-decoration: beige;
}

.links a:hover, 
.links a:nth-child(2)
{
	color: var(--bright-color);
}

.help-center-icon{
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: var(--biggest-font-size);
	color: var(--bright-color);
}
/*#endregion*/




/*#region ========================		Sidebar	================================ */
.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 260px;
	background: var(--background-dark);
	z-index: 100;
	transition: all 0.5s ease;
  }
  .sidebar.close{
	width: 78px;
  }
  .sidebar .logo-details{
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
  }
  .sidebar .logo-details img{
	height: 50px;
	width: 50px;
  }
  .sidebar .logo-details .logo_name{
	font-size: 22px;
	color: #fff;
	font-weight: 600;
	transition: 0.3s ease;
	transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name{
	transition-delay: 0s;
	opacity: 0;
	pointer-events: none;
  }
  .sidebar .nav-links{
	height: 100%;
	padding: 30px 0 150px 0;
	overflow: auto;
  }
  .sidebar.close .nav-links{
	overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
	display: none;
  }
  .sidebar .nav-links li{
	position: relative;
	list-style: none;
	transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover{
	background: #1d1b31;
  }
  .sidebar .nav-links li .iocn-link{
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .sidebar.close .nav-links li .iocn-link{
	display: block
  }
  .sidebar .nav-links li i{
	height: 50px;
	min-width: 78px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  .sidebar .nav-links li.showMenu i.arrow{
	transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow{
	display: none;
  }
  .sidebar .nav-links li a{
	display: flex;
	align-items: center;
	text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	transition: all 0.4s ease;
  }
  .sidebar.close .nav-links li a .link_name{
	opacity: 0;
	pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu{
	padding: 6px 6px 14px 80px;
	margin-top: -10px;
	background: #1d1b31;
	display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu{
	display: block;
  }
  .sidebar .nav-links li .sub-menu a{
	color: #fff;
	font-size: 15px;
	padding: 5px 0;
	white-space: nowrap;
	opacity: 0.6;
	transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover{
	opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
	position: absolute;
	left: 100%;
	top: -10px;
	margin-top: 0;
	padding: 10px 20px;
	border-radius: 0 6px 6px 0;
	opacity: 0;
	display: block;
	pointer-events: none;
	transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu{
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name{
	display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
	font-size: 18px;
	opacity: 1;
	display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
	opacity: 1;
	pointer-events: auto;
	padding: 3px 20px 6px 16px;
	opacity: 0;
	pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank{
	top: 50%;
	transform: translateY(-50%);
  }
  .sidebar .profile-details{
	position: fixed;
	bottom: 0;
	width: 260px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #1d1b31;
	padding: 12px 0;
	transition: all 0.5s ease;
  }
  .sidebar.close .profile-details{
	background: none;
  }
  .sidebar.close .profile-details{
	width: 78px;
  }
  .sidebar .profile-details .profile-content{
	display: flex;
	align-items: center;
  }
  .sidebar .profile-details img{
	height: 52px;
	width: 52px;
	object-fit: cover;
	border-radius: 16px;
	margin: 0 14px 0 12px;
	background: #1d1b31;
	transition: all 0.5s ease;
  }
  .sidebar.close .profile-details img{
	padding: 10px;
  }
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	white-space: nowrap;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job{
	display: none;
  }
  .sidebar .profile-details .job{
	font-size: 12px;
  }
  .home-section{
	position: relative;
	background: var(--first-color);
	height: 100vh;
	left: 260px;
	width: calc(100% - 260px);
	transition: all 0.5s ease;
	padding: 12px;
  }
  .sidebar.close ~ .home-section{
	left: 78px;
	width: calc(100% - 78px);
  }
  .home-content{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 2rem;
  }
  .home-section .home-content .bx-menu{
	color: white;
	font-size: 35px;
  }

  .home-section .home-content .bx-menu{
	cursor: pointer;
	margin-right: 10px;
  }

  .home-section .home-content .text{
	width: 120px;
  }
/*#endregion  */





/*#region ========================		Home Page	================================ */


	/*	=============		Hero Section	================  */
	.home_hero_section{
		height: 100vh;
		margin-top: -3rem;
		padding: 0;
	}
	
	.Section_top{
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		background-image: url("../Assets/Images/hero_1.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		animation: change 20s infinite ease-in-out;
	}

	@keyframes change{
		0%
		{
			background-image: url("../Assets/Images/hero_1.jpg");
		}
		20%
		{
			background-image: url("../Assets/Images/hero_2.jpg");
		}
		40%
		{
			background-image: url("../Assets/Images/hero_3.jpg");
		}
		60%
		{
			background-image: url("../Assets/Images/hero_4.jpg");
		}
		80%
		{
			background-image: url("../Assets/Images/hero_5.jpg");
		}
		100%
		{
			background-image: url("../Assets/Images/hero_1.jpg");
		}
	}

	/*	=============		Conversion Section	================  */
	.home_conversion_section{
		border: 4px solid var(--bright-color);
		border-radius: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		padding: 2rem 10rem;
	}

	.conversion__heading{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}

	.home_conversion_section .value{
		font-size: var(--h1-font-size);
	}

	.home_conversion_section .percent_value p{
		font-size: var(--h3-font-size);
		color: var(--bright-color);
	}

	.home_conversion_section .percent_value p.negative{
		color: #f82c3b;
	}

	.home_link_section{
		border: 4px solid var(--bright-color);
		border-radius: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4rem 10rem;
	}
	
	.home_link_section .links__grid{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 7rem;
	}

	.home_link_section .links__grid .link__container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		text-decoration: none;
		color: white;
		padding: 2rem;
		border-radius: 3rem;
		transition: all 300ms ease;
	}

	.home_link_section .links__grid .link__container:hover{
		background-color: var(--background-dark);
	}

	.home_link_section .links__grid .link__container i{
		font-size: var(--biggest-font-size);
		color: var(--bright-color);

	}

	.home_link_section .links__grid .link__container p{
		font-size: var(--h3-font-size);
		text-align: center;
	}

	/*	=============		Tab Section	================  */

	.home_tab_section{
	}
	
	.home_tab_section .main-container{
		position: relative;
		margin: 0 80px;
		transition: 0.5s ease;
	}
	
	.main-container{
		position: relative;
	}

	.tab-nav-bar{
		position: relative;
		margin: 65px 10px 40px 10px;
	}
	
	.tab-navigation{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: fit-content;
		margin: 0 auto;
	}
	
	
	.tab-menu{
		color: white;
		list-style: none;
		background: var(--background-dark);
		max-width: 800px;
		padding: 10px;
		white-space: nowrap;
		border-bottom: 1px solid var(--background-dark);
		border-radius: 50px;
		box-shadow: var(--box-shadow);
		overflow-x: auto;
		user-select: none;
		scroll-behavior: smooth;
	}
	
	.tab-menu.dragging{
		scroll-behavior: unset;
		cursor: grab;
	}
	
	.tab-menu::-webkit-scrollbar{
		display: none;
	}
	
	.tab-btn{
		color: white;
		display: inline-block;
		font-size: 1em;
		font-weight: 400;
		margin: 0 2px;
		padding: 10px 20px;
		border-radius: 30px;
		cursor: pointer;
		user-select: none;
		transition: 0.3s ease;
	}
	
	.tab-menu.dragging .tab-btn{
		pointer-events: none;
	}
	
	.tab-btn:hover{
		background: var(--first-color);
	}
	
	.tab-btn.active{
		background: var(--bright-hover-color);
		color: var(--input-text-color);
	}
	
	.left-btn, .right-btn{
		position: absolute;
		color: white;
		font-size: 1.8em;
		padding: 10px;
		cursor: pointer;
	}
	
	.left-btn{
		left: 0;
		background: linear-gradient(to left, transparent, white 80%);
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		display: none;
	}
	
	.right-btn{
		right: 0;
		background: linear-gradient(to right, transparent, white 80%);
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}

	.tab-content{
		margin-top: -3rem;
		position: relative;
		display: flex;
		justify-content: center;
		width: 100%;
	}
	
	.tab{
		position: absolute;
		top: 0;
		right: auto;
		bottom: 0;
		left: auto;
		max-width: 1500px;
		padding: 15px 50px;
		transform: translateX( 25px);
		content-visibility: hidden;
		opacity: 0;
		width: 100%;
	}
	
	.tab.active{
		transform: translateX(0);
		content-visibility: visible;
		opacity: 1;
		transition: 1s ease;
	}

	.tab__table{
		width: 100%;
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.tab__table .row{
		display: grid;
		width: 100%;
		grid-template-columns: repeat(3, 1fr);
		place-items: center;
		padding: 1rem 2rem;
	}

	.table__head{
		background: var(--background-dark);
	}

	.table__head h2{
		text-align: center;
	}
	
	.tab__table .row:not(:first-child){
		border-bottom: 1px solid var(--bright-color);
	}

	.tab__table .row > p{
		color: var(--bright-hover-color);
		text-align: center;
		padding: 1rem;
		width: 100%;
	}

	.tab__table .row.negative  p{
		color: #f82c3b;
		
	}

	.flex_tradename{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 1rem;
	}

	.flex_tradename img{
		width: 50px;
		height: 50px;
	}

	.flex_tradename p{
		text-transform: uppercase;
		color: white !important;
	}

	.tab__table .row > p.bg_text{
		background-color: var(--background-dark);
		border-radius: 1rem;
	}

	.dynamic_member .row p:nth-child(2){
		color: #f82c3b;
	}

	.dynamic_member .row p{
		color: white;
	}

	.see_more{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
		padding: 2rem;
		background-color: var(--background-dark);
		border-radius: 1.2rem;
	}

	.space{
		width: 100%;
		padding: 2rem;
	}



/*#endregion  */








/*#region ========================		Customer Service	================================ */

.customer_section{
	display: flex;
	flex-direction: row;
	height: 80vh;
}

.customer_section > div{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.customer_section .links{
	width: 100%;
	margin-top: 1rem;
	justify-content: space-evenly;
}

.customer_section .links a{
	padding: 1.5rem 3rem;
	border-radius: 2.5rem;
	transition: all 300ms ease;
}

.customer_section .links a:first-child{
	background-color: var(--background-dark);
	
}

.customer_section .links a:not(:first-child){
	border: 1px solid var(--bright-color);
}

.customer_section .links a:not(:first-child):hover{
	background-color: var(--bright-color);
	color: var(--background-dark);
}


/*#endregion  */









/*#region ========================		Responsiveness	================================ */


	/* ========================		Moderate Screens	================================ */
	@media screen and (max-width: 992px) {

		/* ========================		 Base Classes 	======================*/
		.body_wrapper{
			width: 100vw;
		}

		form{
			justify-content: center;
		}
		


		/* ========================		 Global Designs 	======================*/
		.box{
			margin-top: var(--h2-font-size);
			width: 450px;
		}

		.box::after{
			width: 450px;
		}

		.box::before{
			width: 450px;
		}

		.section{
			padding: 2rem 1rem;
		}

		.section__title{
			font-size: var(--h1-font-size);
		}
		
		.section__subtitle{
			font-size: var(--h2-font-size);
		}


		/* ========================		 Login Page 	======================*/
		.help-center-icon{
			font-size: var(--h1-font-size);
			top: 10px;
			right: -220px;
			position: relative;
		}
		
		form.signup h2{
			margin-top: 15rem;
		}


		/* ========================		 Home Page 	======================*/
		.home_hero_section{
			padding: 0;
			height: 45vh;
			width: 100%;
		}
	
		.conversion__heading{
			font-size: var(--h4-font-size);
		}
	
		.home_conversion_section .value{
			font-size: var(--h2-font-size);
		}
	
		.home_conversion_section .percent_value p{
			font-size: var(--h4-font-size);
		}

		.home_link_section{
			padding: 1rem 2rem;
		}
		
		.home_link_section .links__grid{
			grid-template-columns: repeat(2, 1fr);
			gap: 0.5rem;
		}

		.home_tab_section .main-container{
			margin: 0 0;
		}
	
		.tab-nav-bar{
			margin: 65px 20px 40px 25px;
		}
	
		.tab{
			padding: 15px 25px;
		}




		/* ========================		 Customer Service Page 	======================*/
		.customer_section > div{
			width: 100%;
			padding: 0 2rem;
		}

		.customer_section{
			margin-top: 3rem;
			flex-direction: column-reverse;
			height: 80vh;
		}

		.customer_section .links a{
			padding: 1rem 2rem;
		}

	}
	



	/* ========================		Small Screens	================================ */
	@media screen and (max-width: 422px) {

		/* ========================		 Base Classes 	======================*/
		form::-webkit-scrollbar {
			display: none;
		}



		/* ========================		 Global Designs 	======================*/
		.box{
			width: 350px;
			height: 817px;
		}

		
		.box::after{
			width: 350px;
			height: 817px;
		}

		.box::before{
			width: 350px;
			height: 817px;
		}

		.section{
			padding: 2rem 0.5rem;
		}
		
		.plain__text{
			padding: 0 0.8rem;
		}


		/* ========================		 Login Page 	====================== */
		.help-center-icon{
			font-size: var(--bigger-font-size);
			right: -160px;
		}


		/* ========================		 Sidebar 	====================== */
		.sidebar{
			width: 240px;
		}
		.sidebar.close{
			width: 78px;
		  }
		  .sidebar .profile-details{
			width: 240px;
		}
		.sidebar.close .profile-details{
			background: none;
		}
		.sidebar.close .profile-details{
			width: 78px;
		}
		.home-section{
			left: 240px;
			width: calc(100% - 240px);
		}
		.sidebar.close ~ .home-section{
			left: 78px;
			width: calc(100% - 78px);
		}


		/* ========================		 Home Page 	====================== */
		.home_hero_section{
			padding: 0;
			height: 30vh;
			width: 100%;
		}

		.conversion__heading{
			font-size: 0.75rem;
		}
	
		.home_conversion_section .value{
			font-size: var(--h4-font-size);
		}
	
		.home_conversion_section .percent_value p{
			font-size: var(--h4-font-size);
		}

		.home_link_section{
			padding: 1rem;
		}
		
		.home_link_section .links__grid{
			gap: 0rem;
		}



		/* ========================		 Customer Service Page 	====================== */
		.customer_section > div{
			padding: 0 1rem;
		}

		.customer_section .section__title{
			text-align: center;
			line-height: 2rem;
		}

		.customer_section{
			flex-direction: column-reverse;
			height: 75vh;
		}

		.customer_section .links{
			flex-direction: column-reverse;
		}

		.customer_section .links a{
			text-align: center;
			padding: 1rem 2rem;
		}
		
	}
	
	
	
	
	/* ========================		Fold Screens	================================ */
	@media screen and (max-width: 290px) {

		/* ========================		 Base Classes 	======================*/
		form{
			padding: 50px 8px;
		}


		/* ========================		 Global Designs 	======================*/
		.box{
			width: 250px;
		}

		
		.box::after{
			width: 250px;
		}

		.box::before{
			width: 250px;
		}

		.links{
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.section{
			padding: 2rem 0;
		}


		/* ========================		 Login Page 	====================== */
		.help-center-icon{
			right: -90px;
		}


		/* ========================		 Home Page 	====================== */
		.home_hero_section{
			padding: 0;
			height: 30vh;
			width: 100%;
		}

		.conversion__heading{
			font-size: 0.35rem;
		}
	
		.home_conversion_section .value{
			font-size: 0.5rem;
		}
	
		.home_conversion_section .percent_value p{
			font-size: var(--h4-font-size);
		}

		.home_conversion_section{
			padding: 1rem 12px;
		}

		.home_link_section{
			padding: 1rem;
		}
		
		.home_link_section .links__grid{
			grid-template-columns: repeat(1, 1fr);
		}
		


		/* ========================		 Customer Service Page 	====================== */
		.customer_section{
			height: 105vh;
		}

		.customer_section p{
			text-align: center;
		}

	}



/*#endregion*/






